.message{
  width: 90%;
  height: 60%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: honeydew;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px greenyellow, 2px -2px greenyellow, -2px 2px greenyellow, -2px -2px greenyellow;
  font-size: 250%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}